#calculator {
    border: 1px solid black;
    width: 290px; 
    height: 350px;
}

#display {
    border: 1px solid black;
    width: 280px;
    height: 50px;
    padding: 0;
    margin: 5px;
    text-align: center;
    font-size: 49px;
}

#buttons {
    display: grid;
    grid-template-rows: repeat(4, 35px);
    grid-template-columns: repeat(4, 60px);
}

#numbers {
    grid-area: 1 / 1 / 5 / 5;
    
       
}
#operators {
    grid-area: 1 / 4 / 5 / 4;
    
    
}

#resultBtn {
    width: 120px;
    
}

#backBtn {
    width: 120px;
    
}